html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 20px;
    font-family: mplus;
    font-weight: 400;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    line-height: 1.25;

    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
    flex: 1 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

hr {
    border: none;
}


/*//////

    Containers
    - A collection of objects
    - Meant to define webpage structure at a top level

//////*/

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.spaced-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    /* Large */
    @media (min-width: $vl) {
        max-width: 800px;
    }

    /* Xtra Large */
    @media (min-width: $vxl) {
        max-width: 1240px;
    }

    /* 2 Xtra Large */
    @media (min-width: $v2xl) {
        max-width: 1800px;
    }
}


.container::after, .spaced-container::after {
    content: "";
    clear: both;
    display: table;
}

/*//////////

    ROW - 8.0 and below
    - Deprecated; old way of getting a flexbox container, confusing term
    FLEX-CONTAINER - 9.0 and above
    - New way of making a flexbox container; self descriptive

/*//////////

.flex-container {
    @include d-flex-column;
    flex-wrap: wrap;
}

.flex-container-full {
    @include d-flex-column;
    flex: 1;
}


// Navigation thru webpages
.nav-container {
    width: 100%;
    @include d-flex-row;

    flex-wrap: wrap;
    align-items: center;

    .nav-item { 
        @include d-block;
    }

    .nav-img { 
        @include d-none; 
        
        @media (min-width: $vm) {
            @include d-block;
            height: 25px;
        }
    }

    &.-mobile-menu {
        @include d-none;

        @media (max-width: $vm) {
            @include d-block;
        }

        .nav-item { 
            @include d-block;
    
            @media (min-width: $vm) {
                @include d-none;
            }
        }

    }
}

.footer-container {
    bottom: 0px;
    width: 100%;
}


/*//////

    Objects
    - Any content that is found within a container is an object of said container
    - Can be anything combination of HTML elements

    Any container definition found below will be replaced with object
    n-container: Deprecated 8.0, Obsolete 11.0
    n-object: New 9.0

//////*/
.section-object, .text-object { @include content-object; }

.spaced-object {
    flex: 1;
    overflow: hidden;
}

.image-object {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-object {
    @include py-medium;
    @include t-32;
    @include w-auto;

    text-align: center;
}

.message-object { @include message-object; }

/*//////

    Code Objects
    - Any content that is meant to be used for code purposes, even if it's not technically code

    Any inline-code definition found below will be replaced with generic code object
    inline-code-object: Depricated 13, Removed ??
    code-object: New 13 (existed for a while longer, but now default)

//////*/

.code-object, .inline-code-object  {
    font-family: monospace;
    display: inline-block;
    @include px-small;
    @include py-small;
    @include mx-small;
}

// Button
.btn { @include btn; }

.btn-outline {
    @include btn;
    background-color: transparent;
}

// Sizing > Max Height
.h-max-250 { max-height: 250px;}
.h-max-350 { max-height: 350px;}
.h-max-500 { max-height: 500px;}

// Forms
.form-container { @include form-container; }
.form-input { @include form-input; }
.form-option { @include form-option; }

.to-top { @include to-top; }

// Padding X
.px-none { @include px-none; }
.px-small { @include px-small; }
.px-medium { @include px-medium; }
.px-large { @include px-large; }
.px-xlarge { @include px-xlarge; }

.px-none-l { @include px-none-l; }
.px-none-r { @include px-none-r; }

// Padding Y
.py-none { @include py-none; }
.py-small { @include py-small; }
.py-medium { @include py-medium; }
.py-large { @include py-large; }
.py-xlarge { @include py-xlarge; }

.py-none-t { @include py-none-t; }
.py-none-b { @include py-none-b; }

// Margin X
.mx-auto { @include mx-auto; }
.mx-none { @include mx-none; }
.mx-small { @include mx-small; }
.mx-medium { @include mx-medium; }
.mx-large { @include mx-large; }
.mx-xlarge { @include mx-xlarge; }

.mx-none-l { @include mx-none-l; }
.mx-none-r { @include mx-none-r; }

// Margin Y
.my-auto { @include my-auto; }
.my-none { @include my-none; }
.my-small { @include my-small; }
.my-medium { @include my-medium; }
.my-large { @include my-large; }
.my-xlarge { @include my-xlarge; }

.my-none-t { @include my-none-t; }

// Margin > Bottom
.mb-none { @include mb-none; }
.mb-small { @include mb-small; }
.mb-medium { @include mb-medium; }
.mb-large { @include mb-large; }
.mb-xlarge { @include mb-xlarge; }

// Margin > Top
.mt-none { @include mt-none; }
.mt-auto { @include mt-auto; }
.mt-small { @include mt-small; }
.mt-medium { @include mt-medium; }
.mt-large { @include mt-large; }
.mt-xlarge { @include mt-xlarge; }


// Radius
.round-none { @include round-none; }
.round-small { @include round-small; }
.round-medium { @include round-medium; }
.round-large { @include round-large; }
.round-circle { @include round-circle; }

.round-small-l { @include round-small-l; }
.round-medium-l { @include round-medium-l; }
.round-large-l {@include round-large-l; }

.round-small-r { @include round-small-r; }
.round-medium-r { @include round-medium-r; }
.round-large-r {@include round-large-r; }

.round-small-t { @include round-small-t; }
.round-medium-t { @include round-medium-t; }
.round-large-t {@include round-large-t; }

.round-small-b { @include round-small-b; }
.round-medium-b { @include round-medium-b; }
.round-large-b {@include round-large-b; }

// Sizing
.h-auto { @include h-auto; }
.w-auto { @include w-auto; }

//Display
.d-none { @include d-none; }
.d-block { @include d-block; }
.d-inline-block { @include d-inline-block; }
.d-absolute { @include d-absolute; }
.d-fixed { @include d-fixed; }
.d-sticky { @include d-sticky; }

// Flexbox > Basic
.d-flex-column { @include d-flex-column; }
.d-flex-column-full  { 
    @include d-flex-column;
    flex: 1; 
}
.d-flex-row { @include d-flex-row; }

// Flexbox > Items
.d-flex-center-items, .d-flex-align-h { @include d-flex-align-h; }
.d-flex-center { @include d-flex-center; }

// Float
.d-float-r { @include d-float-r; }
.d-float-l { @include d-float-l; }

// Position
.p-fixed { @include p-fixed; }


// Text: Size in PX
.t-10 { @include t-10; }
.t-12 { @include t-12; }
.t-16 { @include t-16; }
.t-20 { @include t-20; }
.t-24 { @include t-24; }
.t-32 { @include t-32; }
.t-36 { @include t-36 }
.t-48 { @include t-48 }

// Text: Font styling
// PT Sans, default
.t-font-pt_sans { @include t-font-pt_sans; }
.t-font-pt_sans_heavy { @include t-font-pt_sans_heavy; }

// Roboto, alt
.t-font-roboto { @include t-font-roboto; }
.t-font-reg { @include t-font-reg; }
.t-font-thin { @include t-font-thin; }
.t-font-heavy { @include t-font-heavy; }


// Text: Alignment
.t-center { @include t-center; }
.t-left { @include t-left; }
.t-right { @include t-right; }

// <a> tag
.t-no-hover { @include t-no-hover; }

// Text: Transformations
.t-upper { @include t-upper; }

