// Sizing for Viewports
$vm: 690px;
$vl: 925px;
$vxl: 1366px;
$v2xl: 1920px;

// Colors
$red: rgb(255, 0, 0);
$darkred: rgb(125, 0, 0);
$lightred: rgb(255, 125, 125);

$green: rgb(0, 255, 0);
$darkgreen: rgb(0, 125, 0);
$lightgreen: rgb(125, 255, 125);

$blue: rgb(0, 0, 255);
$darkblue: rgb(0, 0, 125);
$lightblue: rgb(125, 125, 255);

$cyan: rgb(0, 255, 255);
$darkcyan: rgb(0, 125, 125);
$lightcyan: rgb(125, 255, 255);

$yellow: rgb(255, 255, 0);
$darkyellow: rgb(125, 125, 0);
$lightyellow: rgb(255, 255, 125);
$tan: rgb(255, 255, 225);

$orange: rgb(255, 125, 0);
$brown: rgb(125, 75, 0);
$lightorange: rgb(255, 200, 125);

$pink: rgb(255, 0, 255);
$purple: rgb(125, 0, 125);
$darkpurple: rgb(51, 33, 90);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$light: rgb(245, 245, 245);
$dark: rgb(30, 30, 30);

$primary: rgb(230, 230, 230);
$secondary: rgb(100, 100, 100);