// Input
%form-input {
    @include border-info-small;

    font-size: 16px;
    padding: 0.5em;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

    &:hover {
        border-color: rgba($black, 0.75);
    }

    &:focus {
        border-color: rgba($black, 0.75);
    }
}

%form-option {

    select {
        // Removes arrow
        -webkit-appearance: none;
        -moz-appearance: none;

        @include border-select;
        @include w-auto;

        padding: 0.5em;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

        display: block;
        background-image: none;
        -ms-word-break: normal;
        word-break: normal;

        &:hover {
            border-color: rgba($black, 0.75);
        }

        &:focus {
            border-color: rgba($black, 0.75);
        }
    }
    
    &:after{
        content: '>';

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);

        right: 1em;
        top: 0.8em;
        position: absolute;
        pointer-events: none;
    }
}


// Button
%btn {
    @include border-info-small;

    font-size: 16px;
    padding: 0.5em;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

    &:hover {
        border-color: rgba($black, 0.75);
        color: rgba($black, 1);
    }

    &:focus {
        background-color: rgba($black, 0.5);
    }
}